
.arno-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
 .carousel{
   transition:left 1.2s
 }
  & > ul {
    height: auto;
    overflow: hidden;
    position: relative;
    left: 0;

  }

  .arno-carousel-itme {
    display: inline-block;
    height: auto;

    & img ,& a{
      display: block;
      height: auto;
      width: 100%;
    }
  }

  .arno-carousel-arrows {
    display: inline-block;
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 100;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: rgba(0, 0, 0, .2);
    }

    &.carousel-arrow-right {
      right: 0;
    }
    &.carousel-arrow-left {
      left: 0;
    }
  }

  .arno-carousel-dots {
    z-index: 99;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;

    .carousel-dot {
      display: inline-block;
      width: 6px;
      height: 6px;
      border: 3px solid #ccc;
      margin: 6px;
      cursor: pointer;
      border-radius: 20px;

      &:hover {
        border: 3px solid #868686;
      }

      &.carousel-dot-selected {
        border-color: #868686;
      }
    }
  }
}